<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name = "TravelExpertsAzure" connectionString="Data Source=tcp:travelexpertteam2dbserver.database.windows.net,1433;Initial Catalog=TravelExpertTeam2_db;User Id=mehdi@travelexpertteam2dbserver;Password=Team2team@"/>
		<add name = "TravelExperts" connectionString="Data Source=localhost;Initial Catalog=TravelExperts;Integrated Security=True"/>
	</connectionStrings>
</configuration>